<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= current_user.fname %>
<br>

<% if current_user %>

<a href="/products">View All Products</a>
<br>


   <%= render 'cart' %>
   <br>


    <h2> WishList</h2>

        <%= render 'wishlist' %>

      
    

<% end %>

